# Ignore Python bytecode
**/__pycache__/
*.pyc

# Ignore SQLite database files
*.sqlite3
db.sqlite3

# Ignore Django migrations except __init__.py
**/migrations/*.py
!**/migrations/__init__.py

# Ignore virtual environment
\venv
\media